<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <meta name="keywords" content="DCC, Certificado de Calibração Digital, Inmetro">
    <meta name="author" content="PTB DCC Team">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <title>Inmetro/Dimci - DCC</title>

    <style>
		body {
			margin-bottom: 120px;
		}

		footer {
			background-color: white;
		}

        .text-dcc {
            color: #009CD1;
        }

        .bg-dcc {
            background-color: #009CD1;
        }

        a.card {
            text-decoration: none;
            height: 100%;
        }

		a.card span {
		    margin-top: auto;
			margin-bottom: auto;
		}

		.card.disabled {
			pointer-events: none;
			background-color: #6c757d;
			border-color: #6c757d;
		}
    </style>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container text-center">
        <h1 class="mt-2">Certificado de Calibração Digital (DCC)</h1>
        <hr/>

        <div class="row row-cols-1 row-cols-md-3 justify-content-center mt-5 g-2">
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('publications') }}">
                    <span>Publicações</span>
                </a>
            </div>
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('faq') }}">
		    <span>FAQ (perguntas frequentes)</span>
                </a>
            </div>
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('exemplos') }}">
					<span>Exemplos</span>
                </a>
            </div>
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('upload_xls') }}">
					<span>Excel para DCC</span>
                </a>
            </div>
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('upload_json') }}">
					<span>JSON para DCC</span>
                </a>
            </div>
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('upload_xml') }}">
					<span>Embutir DCC no PDF</span>
                </a>
            </div>
	    <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('validate_xml') }}">
					<span> Validar XML </span>
                </a>
            </div>
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="{{ url_for('api_doc') }}">
					<span>Documentação da API</span>
                </a>
            </div>
            <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="https://gemimeg-tool.ptb.de/v1">
					<span> GEMMIMEG Tool (V1)</span>
                </a>
            </div>
	    <div class="col">
                <a class="card fs-2 p-5 bg-dcc text-white" href="https://github.com/gmgeronymo/dcc_tools">
		    <span>Código-Fonte (GitHub)</span>
                </a>
            </div>
        </div>
    </div>
</main>
<footer class="footer fixed-bottom">
    <div class="container mb-2">
        <hr/>
        <a href="https://inmetro.gov.br" class="btn btn-outline-secondary">&copy; 2025 — Instituto Nacional de Metrologial, Qualidade e Tecnlogia (Inmetro)</a>
	<a href="mailto:gmgeronymo@inmetro.gov.br" class="btn btn-outline-secondary">E-Mail</a>
    </div>
</footer>



<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>

